<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>DevBubble</title>
  </head>
  <body>
    <div id="root"></div>
    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>
  <script>
    /*window.api.receive('fromMain', (data) => {
      console.log(`Received ${data} from main process`);
    });
    window.api.send('toMain', 'some data');*/
  </script>
</html>
