video {
	height: 100%;
	border-radius: 1rem;
	margin: 0.5rem;
	width: auto;
	flex-grow: 1;
	display: 'flex';
	object-fit: cover;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
